:root {
    --font-jp: "Open Sans", "Helvetica Neue", arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
    --font-round: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

    --accent-color: rgb(185, 46, 70);
    --accent-color-alpha: rgba(185, 46, 70, 0.5);

    --light-accent-color: #fd838d;
}

body {
    font-family: var(--font-jp);
}

h1, h2, h3, h4 {
    font-family: var(--font-round);
}

.wip {
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.text {
    display: inline-block;
}

.link {
    color: #2c2f75;
    text-decoration: underline;
}

/*ナビゲーションバー*/
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .nav-bar {
    display: block;
    height: 50px;
    background: #FFFFFF;
}

nav .nav-bar::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--light-accent-color);
    left: 0;
    content: "";
    bottom: -1px;
}

nav .nav-menu {
    display: none;
}

nav .nav-bar ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

nav .nav-bar ul li {
    font-size: 25px;
}

/*ホバー時アンダーライン*/
nav .nav-bar ul li a {
    position: relative;
}

nav .nav-bar ul li a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background: #242424;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.8s;
}

nav .nav-bar ul li a:hover::after {
    transform: scale(1, 1);
}

/*メインビジュアル*/
#top {
    position: relative;
}

#top .background {
    width: 100%;
    height: 40vw;
    min-height: 30vh;
    max-height: 50vh;
    overflow: hidden;
}

#top .background img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

#top .title {
    position: absolute;
    top: 15vh;
}

#top .title h1 {
    padding-left: 58vw;
    font-size: max(2.8vw, 20px);
    color: #D4D4D4;
}

@media screen and (max-width: 768px) {
    nav .nav-bar {
        display: none;
    }

    nav .nav-menu {
        display: block;
    }

    #top .title h1 {
        padding-left: 49vw;
        font-size: max(3.8vw, 16px);
    }
}

/*メインコンテンツ*/
section {
    padding-top: 80px;
    padding-bottom: 30px;
}

section .section-title {
    text-align: center;
}

section .section-title-img {
    height: 130px;
    width: auto;
    display: block;
    margin: 0 auto 30px;
}

.inner-wrapper {
    max-width: 1280px;
    padding-left: 4em;
    padding-right: 4em;

    margin-left: auto;
    margin-right: auto;
}

section h3 {
    font-size: 30px;
}

/* 最新情報 */
#news .news-list {
    padding-top: 40px;
    height: 400px;
}

#news .news-list .card {
    display: block;
    position: relative;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #D4D4D4;
}

#news .news-list .card .card-thumbnail {
    height: 70%;
    position: relative;
    overflow: hidden;
}

#news .news-list .card img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

#news .news-list .card .card-article {
    margin-top: 10px;
}

/* プロフィール */
#profile .profile-row {
    margin-top: 20px;
    display: flex;
}

#profile .profile-picture {
    width: 50%;
    aspect-ratio: 1/1;
}

#profile .profile-picture .standPicture {
    height: 100%;
    width: 100%;
}

#profile .profile-picture img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#profile .profile-intro {
    width: 50%;
}

#profile .profile-intro .name {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#profile .name h4 {
    font-size: 40px;
}

#profile .sns {
    margin-top: 50px;
    margin-left: 10px;
}

#profile .sns .sns-list li {
    margin-bottom: 5px;
    height: 35px;
}

#profile .sns .sns-list li a {
    display: flex;
    gap: 15px;
    align-items: center;
}

#profile .sns .sns-list li a img {
    width: 35px;
    height: 35px;
}

#profile .sns .sns-list li span {
    position: relative;
}

#profile .sns .sns-list li span::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #C0C0C0;
    left: 0;
    content: "";
    bottom: -3px;
}

#profile .sns .sns-list li a:hover {
    opacity: 0.6;
}

#profile .profile-detail {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgba(243, 243, 243, 0.8);
}

#profile .data-row-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#profile .data-row {
    display: flex;
    gap: 2rem;
}

#profile .data-row .tsukasa-info {
    width: 50%;
}

#profile .data-row .stream-info {
    width: 50%;
}

#profile .data-row dl {
    margin: 20px 0;
    padding-left: 10px;
    padding-bottom: 15px;
}

#profile .data-row dl:not(:last-child) {
    border-bottom: 2px dashed var(--accent-color-alpha);
}

#profile .data-row dl dt {

}

#profile .data-row dl dd {
    padding-top: 5px;
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    section .section-title-img {
        height: 100px;
    }

    #profile .inner-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #profile .profile-detail .inner-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #profile .profile-row {
        display: revert;
    }

    #profile .profile-picture {
        width: revert;
    }


    #profile .profile-intro {
        width: revert;
    }

    #profile .data-row {
        display: revert;
    }

    #profile .tsukasa-info {
        width: revert;
    }

    #profile .stream-info {
        width: revert;
    }

    #profile .name h4 {
        font-size: max(6vw ,35px);
    }

    #profile .name small {
        font-size: 13px;
    }

    #profile .data-row .tsukasa-info {
        width: revert;
    }

    #profile .data-row .stream-info {
        width: revert;
    }

    #profile .data-row .tsukasa-info dl:last-child {
        border-bottom: 2px dashed var(--accent-color-alpha);
    }
}

#recommend .inner-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
}

#recommend .subtitle {
    display: block;
    text-align: right;
    margin-right: 10px;
}

#recommend .recommend-list {
    padding-top: 20px;
}

#recommend .recommend-list .content {
    margin-top: 50px;
    padding-bottom: 10px;
}

#recommend .recommend-list .content .title {
    padding-left: 25px;
    font-size: 30px;

    font-family: "Noto Sans Jp", sans-serif;
}

#recommend .recommend-list .content .column {
    display: flex;
    gap: 3.5rem;

    padding-top: 15px;
}

#recommend .recommend-list .content .thumbnail {
    width: 55%;
    border-radius: 10px;
    overflow: hidden;
}

#recommend .recommend-list .content .thumbnail-right {
    order: 1;
}

#recommend .recommend-list .content .thumbnail img {
    width: 100%;
    aspect-ratio: 16/9;
}

#recommend .recommend-list .content p {
    width: 50%;
    max-width: 500px;
    font-size: clamp(15px, 1.2vw, 16px);
    line-height: 23px;
    padding-top: 10px;
}

@media screen and (max-width: 865px) {
    #recommend .inner-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #recommend .recommend-list .content .title {
        padding-left: revert;
        font-size: 25px;
    }

    #recommend .recommend-list .content .column {
        display: revert;
    }
    #recommend .recommend-list .content .thumbnail {
        width: 100%;
    }
    #recommend .recommend-list .content p {
        width: 100%;
        max-width: none;
        padding: 10px;
    }
}

#history {
}

#history h4 {
    padding-left: 15px;
    margin-top: 15px;
    font-size: 35px;
}

#history .history-list li {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#history .history-list li {
    border-bottom: 2px dashed var(--accent-color-alpha);
}

#history .history-list .history-content {
    display: flex;
    gap: 2rem;
}

#history .history-list .history-content .thumbnail {
    aspect-ratio: 16/9;
    width: 35svw;
    border-radius: 10px;
    overflow: hidden;
}

#history .history-list .history-content .thumbnail img {
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center center;
}

#history .history-list .history-content .description {
    display: grid;
    align-items: center;
    align-content: center;

    width: 70%;
}

#history .history-list .history-content .description small {
    padding-left: 5px;
}

#history .history-list .history-content .description .title {
    font-size: 1.7em;
}

@media screen and (max-width: 768px) {
    #history h4 {
        font-size: 30px;
    }

    #history .inner-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #history .history-list .history-content {
        display: revert;
    }

    #history .history-list .history-content .thumbnail {
        width: revert;
    }

    #history .history-list .history-content .description {
        width: 100%;
        margin-top: 8px;
        padding-left: 10px;
    }

    #history .history-list .history-content .description .title {
        font-size: 20px;
    }
}

#history .history-list li a:hover .history-content .thumbnail img {
    transform: scale(1.1, 1.1);
    transition: .5s all;
}

footer {
    background-color: var(--light-accent-color);
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

footer h2 {
    font-size: 2rem;
}

footer p {
    padding-top: 15px;
    padding-bottom: 5px;
}